<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Логин</title>
</head>
<body>
    <div class="main">
        <h1>Логин</h1>
        {% if error %}
            <div class="error">{{ error }}</div>
        {% endif %}
        <form action="/login" method="post">
            <input type="text" name="username" placeholder="Введите логин" required>
            <input type="password" name="password" placeholder="Введите пароль" required>
            <button type="submit">Логин</button>
        </form>
        <h3><a href="register">Регистрация</a></h3>
    </div>
</body>
</html>
